In [3]:
#datatype
# 1.string 
s = "python 1234"
print(s)
print(type(s))
print(id(s))
print(len(s))
print(max(s))
print(min(s))

python 1234
<class 'str'>
1857569741040
11
y

In [6]:
s = "PytHOn"
print(s)
print(id(s))
s1 = s.lower()
print(s1)
print(s)
print(id(s1))

PytHOn
1857565428784
python
PytHOn
1857569098656

In [10]:
s = "python"
print(s)
print(id(s))
s1 = s.upper()
print(s1)
print(id(s1))

PYTHON
1857564320384
PYTHON
1857565296128

In [12]:
s = "this is python"
print(s.title())
print(s.capitalize())

This Is Python
This is python

In [18]:
s = "this is python"
print(s.index("is"))
print(s.index("is",3))
#print(s.index("si"))
print(s.find("si"))
print(s.find("is"))

2
5
-1
2

In [20]:
s = "this is python"
print(s.replace("is","IS"))
print(s.replace("si","IS"))

thIS IS python
this is python

In [28]:
s = "this is python"
print(s.startswith("this"))
print(s.startswith("t"))
print(s.endswith("n"))
print(s.endswith("hon"))

True
True
True
True

In [5]:
s1 = "python"
s2,s3 = "java","php"
# s= ().join(s1,s2,s3) >>  error 
s = " ".join([s1,s2,s3])
print(s)
print(type(s))
s = ", ".join([s1,s2,s3])
print(s)
print(type(s))

python java php
<class 'str'>
python, java, php
<class 'str'>

In [8]:
s= "this is python class"
s1 = s.split()
print(s1)
s2 = s.split('i')
print(s2)
s3 = s.split(' ',2)
print(s3)

['this', 'is', 'python', 'class']
['th', 's ', 's python class']
['this', 'is', 'python class']

In [9]:
#2. datatype 
# 2.list 
l = [10,20,30,35,'pyyhon','java']
print(l)
print(type(l))

[10, 20, 30, 35, 'pyyhon', 'java']
<class 'list'>

In [13]:
l = [10,20,30,'pyhton','java']
print(l)
print(type(l))
print(id(l))
print(len(l))
l1 = ['pyhton','java','php']
print(max(l1))
print(min(l1))
l2 = [10,20,30,40,50]
print(sum(l2))

[10, 20, 30, 'pyhton', 'java']
<class 'list'>
1770903968768
5
pyhton
java
150

In [20]:
# method for list 
l = [10,20,10.5,30,'python']
l.append('java')
print(l)

[10, 20, 10.5, 30, 'python', 'java']

In [25]:
l = [10,20,10.5,30,'python']
l1 = l.copy()
print(l,l1)
print(id(l),id(l1))
l.clear()
print(l)
print(id(l))
del l
print(l)

[10, 20, 10.5, 30, 'python'] [10, 20, 10.5, 30, 'python']
1770904295232 1770904297408
[]
1770904295232

NameError: name 'l' is not defined

In [2]:
l = [2,4,5,6,'pyhton']
l.extend("java")
print(l)
l.extend(["java","php"])
print(l)

[2, 4, 5, 6, 'pyhton', 'j', 'a', 'v', 'a']
[2, 4, 5, 6, 'pyhton', 'j', 'a', 'v', 'a', 'java', 'php']

In [1]:
l =[2,4,5,6,'pyhton']
l.insert(0,["java", "script"])
print(l)
l.insert(1,[1,3,5,7])
print(l)

[['java', 'script'], 2, 4, 5, 6, 'pyhton']
[['java', 'script'], [1, 3, 5, 7], 2, 4, 5, 6, 'pyhton']

In [3]:
l = [1,2,3,"python","java"]
l.pop()
print(l)
l.pop(0)
print(l)
l.pop(2)
print(l)

[1, 2, 3, 'python']
[2, 3, 'python']
[2, 3]

In [9]:
l = [1,2,3,"python","java"]
l.remove(1)
print(l)
l.remove("python")
print(l)

[2, 3, 'python', 'java']
[2, 3, 'java']

In [15]:
l = [2,3,4,2,4,6,5,6,3,4]
print(l.count(2))
print(l.count(4))
print(l.count(2),l.count(6))

2
3
2 2

In [19]:
print("hello","welcome",sep=',')

hello,welcome

In [36]:
l = [2,5,3,1,5,7,3,]
l.sort()
l.reverse()
print(l)
l = ["pyhton","java","php"]
l.sort()
l.reverse()
print(l)
l = [ 2,5,3,6,8,4,9]
l.sort(reverse = True)

print(l)

[7, 5, 5, 3, 3, 2, 1]
['pyhton', 'php', 'java']
[9, 8, 6, 5, 4, 3, 2]

In [16]:
l = [1,2,3,4,]
print(l.index(4))

3

In [39]:
l =eval(input('enter everything'))
print(l)
print(type(l))

enter everything [1,2,3,4]

[1, 2, 3, 4]
<class 'list'>

In [32]:
x=eval(input())
print(x)
print(type(x))

 6767

6767
<class 'int'>

In [1]:
t = (10,20,30,'python','java')
print(t)
print(type(t))

(10, 20, 30, 'python', 'java')
<class 'tuple'>

In [6]:
x = [10 , ]
x = [20,]
print(x)
print(type(x))

[20]
<class 'list'>

In [10]:
t = ([1,2,3,4],'pyhton',10,'java')
print(len(t))
print(t)
print(type(t))
print(id(t))
t = ('python' , 'java','c++','php')
print(max(t))
print(min(t))
t = (1,4,6,3,8)
print(sum(t))

4
([1, 2, 3, 4], 'pyhton', 10, 'java')
<class 'tuple'>
2947507145600
python
c++
22

In [14]:
# method
t = (10,20,30,10,35,'pyhton','java')
print(t.index('java'))
print(t.index(10))      
print(t.index(10,t.index(10)+1))   
print(t.count(10))

6
0
3
2

In [25]:
d = { 'name':'shilpi',
      'age':21,
      'quali':'bsc'}
d1 = { 'name':'shilpi',
      'age':21,
      'quali':'bsc'}
print(d1)
print(d)
print(type(d))
print(id(d),id(d1))
print(len(d))
print(type(d))
print(max(d))
print(min(d))
d = { 1:'shilpi',
      2:21,
      3:'bsc'}
print(sum(d))

{'name': 'shilpi', 'age': 21, 'quali': 'bsc'}
{'name': 'shilpi', 'age': 21, 'quali': 'bsc'}
<class 'dict'>
2947520205504 2947520206144
3
<class 'dict'>
quali
age
6

In [28]:
# method
d = { 'name':'shilpi',
      'age':21,
      'quali':'bsc'}
d1 = d.copy()
print(id(d),id(d1))
d.clear()
print(d)
print(d.get('name'))

2947520202688 2947520203200
{}
None

In [2]:
d =  { 'name':'shilpi',
      'age':21,
      'quali':'bsc'}
print(d)
print(d.get('p',"Guest"))
# dict.get('key",'default value')
print(d.get('name','xyz'))

{'name': 'shilpi', 'age': 21, 'quali': 'bsc'}
Guest
shilpi

In [2]:
d =  { 'name':'shilpi',
      'age':21,
      'quali':'bsc'}
print(d)
print(d.pop('name'))
print(d.pop('age'))
print(d)

{'name': 'shilpi', 'age': 21, 'quali': 'bsc'}
shilpi
21
{'quali': 'bsc'}

In [1]:
d = {"x":10 , "y":20,"z":30}
d.pop('x')
print(d)
d.popitem()
print(d)
d = {"x":10 , "y":20,"z":30}
print(d.keys())
print(d.values())
print(d.items())
#update - add new dict 
d1 = {'p':2,'q':3,'r':4}
d.update(d1)
print(d)
print(d1)
print(d.setdefault('xy',50))
print(d)
print(d.get('x'))
print(['x'])
d['x'] = 100
print(d)

{'y': 20, 'z': 30}
{'y': 20}
dict_keys(['x', 'y', 'z'])
dict_values([10, 20, 30])
dict_items([('x', 10), ('y', 20), ('z', 30)])
{'x': 10, 'y': 20, 'z': 30, 'p': 2, 'q': 3, 'r': 4}
{'p': 2, 'q': 3, 'r': 4}
50
{'x': 10, 'y': 20, 'z': 30, 'p': 2, 'q': 3, 'r': 4, 'xy': 50}
10
['x']
{'x': 100, 'y': 20, 'z': 30, 'p': 2, 'q': 3, 'r': 4, 'xy': 50}

In [15]:

x = int()
print(x)
print(type(x))

0
<class 'int'>

In [16]:
x = 0
print(x)
print(type(x))

0
<class 'int'>

In [18]:
x = float()
print(x)
print(type(x))

0.0
<class 'float'>

In [19]:
x = 0.0
print(x)
print(type(x))

0.0
<class 'float'>

In [20]:
x = complex()
print(x)
print(type(x))

0j
<class 'complex'>

In [21]:
x = 0+0j
print(x)
print(type(x))

0j
<class 'complex'>

In [9]:
#frozenset  
#pyhton function
l = [1,2,3,'python','java']
fs = frozenset(l)
print(fs)
print(type(fs))   
print(id(fs))
print(len(fs))
l = [ 'python','java','php','c++','power bi']
fs = frozenset(l)
print(max(fs))
print(min(fs))
l = [1,2,3,4,5,6,6,7]
fs = frozenset(l)
print(sum(l))

frozenset({1, 2, 3, 'java', 'python'})
<class 'frozenset'>
1377442997504
5
python
c++
34

In [11]:
# methods for frozenset
l1 = [ 10,20,30,'pyhton','java']
fs1 = frozenset(l1)
l2 = [ 40,20,30,10,'c++','php']
fs2 = frozenset(l2)
print(fs1.union(fs2))
print(fs1.intersection(fs2))
print(fs1.difference(fs2))
print(fs1.symmetric_difference(fs2))
print(fs1.issubset(fs2))
print(fs1.issuperset(fs2))
l1 = [ 10,20,30,'pyhton','java']
fs1 = frozenset(l1)
l2 = [ 40,20,30,10,'c++','php']
fs2 = frozenset(l2)
print(fs1.isdisjoint(fs2))

frozenset({'c++', 'php', 40, 10, 'pyhton', 'java', 20, 30})
frozenset({10, 20, 30})
frozenset({'pyhton', 'java'})
frozenset({'pyhton', 'c++', 'php', 40, 'java'})
False
False
False

In [7]:
# set 
s = { 10,20,10,30,'pyhton','java','php'}
print(s)
# pyhton inbuilt function  for set 
print(s)
print(type(s))
print(id(s))
print(len(s))
s = {'pthon' , 'java','php','c++','sql'}
print(max(s))
print(min(s))
s = { 10,30,20,50,30,10}
print(sum(s))

{'php', 20, 10, 'pyhton', 'java', 30}
{'php', 20, 10, 'pyhton', 'java', 30}
<class 'set'>
2962582678080
6
sql
c++
110

In [24]:
# method 
s = {1,2,3,'pyhton','java'}
s1 = s.copy()
print(s1)
print(id(s),id(s1))
s1.clear()
print(s1)
s.add(50)
print(s)
s.update([10,20,30])
print(s)
s.update('pyhton')
print(s)
s.remove(50)
print(s)
s.discard('pyhton')
print(s)

{1, 2, 3, 'pyhton', 'java'}
2962582676512 2962585279776
set()
{1, 2, 3, 50, 'pyhton', 'java'}
{1, 2, 3, 10, 20, 'java', 30, 'pyhton', 50}
{1, 2, 3, 'o', 'p', 10, 20, 't', 'h', 'n', 'y', 'java', 30, 'pyhton', 50}
{1, 2, 3, 'o', 'p', 10, 20, 't', 'h', 'n', 'y', 'java', 30, 'pyhton'}
{1, 2, 3, 'o', 'p', 10, 20, 't', 'h', 'n', 'y', 'java', 30}

In [40]:
s1 = { 1,2,3,4,5}
s2 = { 4,5,6,7,8,9}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1)
s1.intersection_update(s2)
print(s1)
print(s1.difference(s2))
print(s1)
s1.difference_update(s2)
print(s1)
print(s2.difference(s1))
print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3, 4, 5}
{4, 5}
set()
{4, 5}
set()
{4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [43]:
set1  = { 1,2,3,4,5}
set2 =  {4,5,6,7,8,9}
print(set1.isdisjoint(s2))
print(set1.issubset(s2))
print(s1.issuperset(s2))

False
False
True

In [45]:
s = 'pyhton'
fs = frozenset(s)
print(type(fs))

<class 'frozenset'>

In [50]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [53]:
print(keyword.softkwlist)
print(len(keyword.softkwlist))

['_', 'case', 'match', 'type']
4

In [55]:
import string

print(string.punctuation)
print(len(string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32

In [56]:
and =10
print(and)

SyntaxError: invalid syntax (4047202712.py, line 1)

In [57]:
_ =10
print(_)

10

In [58]:
case = 20
print(case)

20