In [1]:
print("hello")

hello

In [11]:
# datatype
#1 string
x = 'python'
#pyhton function for string 
print(x)
print(type(x))
print(id(x))
print(len(x))
print(max(x))
print(min(x))

#method
x = 'PYthon'
print(x.lower())
print(x.upper())
print(x.title())
print(x.capitalize())
print(x.index('P'))
s = 'this is python'
print(s.find('is'))
print(s.replace('is','IS'))
print(s.startswith('t'))
print(s.endswith('o'))
print(s.split())

python
<class 'str'>
2661293145760
6
y
h
python
PYTHON
Python
Python
0
2
thIS IS python
True
False
['this', 'is', 'python']

In [5]:
#list 
#python function for list 
l = [ 1,2,3,4,'python']
print(l)
print(type(l))
print(id(l))
print(len(l))
l1 = ['pyhton','java','php','c++','js']
print(max(l1))
print(min(l1))
l2 = [2,4,3,5,6,12,5,9]
print(sum(l2))

[1, 2, 3, 4, 'python']
<class 'list'>
2208887898496
5
pyhton
c++
46

In [51]:
# method 
l = [2,4,1,5,3,'pyhton','java','php','c++',]
l.append('js')
print(l)
l1 = l.copy()
print(l1)
l1.clear()
print(l1)
print(id(l1))
del l1 
l.extend('java')
print(l)
l.extend('js node')
print(l) 
l.insert(3,'shilpi')
print(l)
l.pop()
print(l)
l.pop(5)
print(l)
l.remove('c++')
print(l)

l.append('rashi')
print(l)
print(l.count('j'))
print(l.count('a'))

l = [2,4,6,9,2,5,7,9,4,32,2]
l.sort()
print(l)
l.reverse()
print(l)
l = [2,4,7,9,4,1,4,5,56,67,3,2,0]
l.sort()
print(l)
l.reverse()
print(l)

[2, 4, 1, 5, 3, 'pyhton', 'java', 'php', 'c++', 'js']
[2, 4, 1, 5, 3, 'pyhton', 'java', 'php', 'c++', 'js']
[]
2208891186432
[2, 4, 1, 5, 3, 'pyhton', 'java', 'php', 'c++', 'js', 'j', 'a', 'v', 'a']
[2, 4, 1, 5, 3, 'pyhton', 'java', 'php', 'c++', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd', 'e']
[2, 4, 1, 'shilpi', 5, 3, 'pyhton', 'java', 'php', 'c++', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd', 'e']
[2, 4, 1, 'shilpi', 5, 3, 'pyhton', 'java', 'php', 'c++', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd']
[2, 4, 1, 'shilpi', 5, 'pyhton', 'java', 'php', 'c++', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd']
[2, 4, 1, 'shilpi', 5, 'pyhton', 'java', 'php', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd']
[2, 4, 1, 'shilpi', 5, 'pyhton', 'java', 'php', 'js', 'j', 'a', 'v', 'a', 'j', 's', ' ', 'n', 'o', 'd', 'rashi']
2
2
[2, 2, 2, 4, 4, 5, 6, 7, 9, 9, 32]
[32, 9, 9, 7, 6, 5, 4, 4, 2, 2, 2]
[0, 1, 2, 2, 3, 4, 4, 4, 5, 7, 9, 56, 67]
[67, 56, 9, 7, 5, 4, 4, 4, 3, 2, 2, 1, 0]
None

In [5]:
#tuple 
t = (10,20,30,10.5,'pyhton','java',59,'php')
print(t)
# pyhton function for tuple 
print(t)
print(type(t))
print(id(t))
print(len(t))
t = ('pyhton','java','php','c++','hello')
print(max(t))
print(min(t))
t = (10,20,45,87,39)
print(sum(t))

(10, 20, 30, 10.5, 'pyhton', 'java', 59, 'php')
(10, 20, 30, 10.5, 'pyhton', 'java', 59, 'php')
<class 'tuple'>
2422415131248
8
pyhton
c++
201

In [17]:
# method for tuple 
t = (10,20,30,46,57,'pyhton','java',10,20,'pyhton')
print(t.index('java'))
print(t.index(10))
print(t.index(20),(30))
print(t[3])
print(t[3:5])
print(t.count(10))
print(t.count('pyhton'))

6
0
1 30
46
(46, 57)
2
2